<nav class="navbar navbar-dark bg-primary navbar-fixed-top navbar-full">
    <div class="navbar-header" style='width:100%; margin-top:3px'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header-full">

            <table class="table-full" style="width: 100%;">
                <tr>
                    <td>
                        <a class="pull-left nav navbar-nav navbar-left" href="#" style="float: left"> <img src="http://w3-workplace.ibm.com/ui/v8/images/id-w3-sitemark-large.gif" class="img-responsive"  style="float: left" width="200">
                       <!-- src="http://w3-workplace.ibm.com/ui/v8/images/id-w3-sitemark-large.gif" -->
                        </a>
                    </td>
                    <td>
                        <h3>IBM - Telefonica UK Account PMO Portal</h3>
                    </td>

                    <td>
                        <table class="table-full pull-right" style="width: 100%;">
                            <tr>
                                <td>
                                    <form class="navbar-form navbar-right" role="search" action="http://w3.ibm.com/search/do/search" method="get" id="search" style="float: left">

                                        <div class="form-group">
                                            <table style="spacing: 0px; padding: 0px" class="header-search">
                                                <tr>
                                                    <td class="label">
                                                        <label for="header-search-field">Search w3
                                                        </label>
                                                    </td>
                                                    <td class="field">
                                                        <input id="header-search-field" name="qt" type="text" accesskey="4" style="color: Black;" />
                                                    </td>
                                                    <td class="submit">
                                                        <input id="header-search-btn" type="image" alt="Go" src="http://w3.ibm.com/ui/v8/images/btn-go-dark.gif" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </td>
                                <td align="right">
                                    <a id="prt-ibm-logo" class="navbar-link">
                                        <img src="http://w3.ibm.com/ui/v8/images/id-ibm-logo-black.gif" alt="IBM Logo" width="50" height="20" />
                                    </a>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td align=right><a style="color: white;" w3home " href="http://w3.ibm.com/ " class="navbar-link " target="_blank"> w3
											Home| </a><a style="color: white; "
										bluepages" href="http://w3.ibm.com/bluepages/" class="navbar-link" target="_blank"> BluePages| </a><a style="color: white;" helpnow " href="#wip" class="navbar-link " target="_blank">
											HelpNow| </a><a style="color: white; "
										feedback" href="https://pmoportal-sso-gu18t095lj-cu21.iam.ibmcloud.com/idaas/mtfim/sps/idaas/logout" accesskey="9" class="navbar-link" target="_blank"> Feedback| </a>
										<a style="color: white;" href="#wip" title="Logout"><span
											class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


        </div>
    </div>
</nav>