    <div ng-include="'views/components/sideBar.html'"></div>
  <div class="col-md-9">
   
        <div class="col-md-6">
         <img src="./images/telefonica1.jpg" alt="Telefonica" style="width:450px;height:300px;border-radius: 15px 50px">
     </div>
      
      <div class="col-md-6">
         <img src="./images/ibm-bluemix.jpg" alt="IBM" style="width:450px;height:300px;border-radius: 15px 50px">
     </div>
    </div>
    <div class="col-md-9" style="height:30px">
    </div>
          <div class="col-md-9">
    <p>
        The aim of the PMO Portal, will serve as the single-entry point for our account project management office activity and information where our support and delivery teams can operate and collaborate daily including activities, consolidated feeds for real time data.
</p>

  </div>
  