<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    body,
    td,
    div,
    p,
    a,
    input {
      font-family: arial, sans-serif;
    }
  </style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <style type="text/css">
    body,
    td {
      font-size: 13px
    }
    
    a:link,
    a:active {
      color: #1155CC;
      text-decoration: none
    }
    
    a:hover {
      text-decoration: underline;
      cursor: pointer
    }
    
    a:visited {
      color: ##6611CC
    }
    
    img {
      border: 0px
    }
    
    pre {
      white-space: pre;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
      word-wrap: break-word;
      max-width: 800px;
      overflow: auto;
    }
  </style>
</head>

<body>
  <div class="bodycontainer">
    <table class="message" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          
          <tr>
            <td colspan="2">
              <table border="0" cellpadding="12" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td>
                      <div style="overflow: hidden;"><font size="-1"><div><div align="center"><table border="1"><tbody><tr valign="top"><td bgcolor="#FFFFFF" width="1104"><div align="center"><table border="1"><tbody><tr valign="top"><td bgcolor="#FF0000" width="1010"><p><img src="./images/a_002.gif" height="160" width="994"><b><i><sup><font face="Bookman Old Style" color="#FF0000" size="5"> </font></sup>
                        </i>
                        </b><b><i><font face="Bookman Old Style" color="#FF0000" size="5">12 February 2016</font></i></b></p>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <br>
              <div align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr valign="top">
                      <td bgcolor="#979BA0" width="179">
                        <div align="center"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Project</font></b>
                          <br><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Updates</font></b>
                          <br>
                        </div>
                        <br>
                      </td>
                      <td bgcolor="#FFFFFF" width="12"><img src="./images/a_007.gif" alt="" border="0" height="1" width="1"></td>
                      <td bgcolor="#979BA1" width="821"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">CR6657 - MMS/SMS Replacement</font></b><font size="4"><br></font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">The
 key purpose of this project is to support Telefónica UK in their 
transition from the existing SMS/MMS solution from the current Acision 
to the Huawei Combined SMS and MMS Solution ensuring that CUK components
 continue to rate, charge and bill as they do today. </font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">The SMS changes were delivered during Jan 2016 and MMS changes are planned to be delivered second quarter of 2016. </font></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br><font size="1"> </font>
              <div align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr valign="top">
                      <td bgcolor="#FFFFFF" width="518">
                        <div align="center"><b><font face="Book Antiqua" color="#000080" size="7"> </font></b><b><font face="Bookman Old Style" color="#FFFFFF" size="7"> IBM</font></b></div>
                      </td>
                      <td bgcolor="#FFFFFF" width="12"><img src="./images/a_005.gif" alt="" border="0" height="1" width="1"></td>
                      <td bgcolor="#FFFFFF" width="479">
                        <div align="center"><b><font face="Book Antiqua" color="#FFFFFF" size="7"> Telefónica</font></b></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr valign="top">
                      <td bgcolor="#009F82" width="517"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">IBM Launches Cloud Data and Analytics Marketplace for Developers</font></b>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">&gt;&gt;
 IBM announced a broad expansion of its Cloud Data Services portfolio 
with more than 25 services now available on the IBM Cloud. They are 
designed to help developers build, deploy and manage web and mobile 
applications and enable data scientists to discover hidden trends using 
data and analytics in the cloud.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Source Link &gt;&gt; </font><a href="http://www-03.ibm.com/press/uk/en/pressrelease/48976.wss" target="_blank"><u><font face="Bookman Old Style" size="4">IBM</font></u></a></td>
                      <td
                      bgcolor="#FFFFFF" width="12"><img src="./images/a.gif" alt="" border="0" height="1" width="1"></td>
            <td bgcolor="#009F82" width="481"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Telefónica creates Telxius, a global telecommunications infrastructure company</font></b>
              <br>
              <br><font face="Bookman Old Style" color="#FFFFFF" size="4">&gt;&gt;
 Telefónica announced the creation of Telxius, a new global company 
which brings together certain infrastructure assets of the Group and for
 which Telefónica has proposed the appointment of Alberto Horcajo as 
CEO. The incorporation of the new company is part of the optimisation 
strategy for the Telefónica Group asset portfolio. </font>
              <br>
              <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Source Link &gt;&gt; </font><a href="https://www.telefonica.com/en/web/press-office/-/telefonica-creates-telxius-a-global-telecommunications-infrastructure-company" target="_blank"><u><font face="Bookman Old Style" size="4">Telefonica</font></u></a>
              <br>
            </td>
            </tr>
            </tbody>
            </table>
            </div><font size="1"> </font>
            <br>
            <div align="center">
              <br>
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr valign="top">
                    <td bgcolor="#DF4B3C" width="1013"><img src="./images/a_004.gif" alt="" border="0" height="1" width="1"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul><font size="1"> </font>
              <div align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr valign="top">
                      <td bgcolor="#FFFFFF" width="1095"><font size="1"> </font>
                        <div align="center">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr valign="top">
                                <td bgcolor="#DF4B3C" width="1033">
                                  <div align="center"><b><font color="#FFFFFF" size="7">14th Feb - It's St. Valentine's Day !!!</font></b>
                                    <br>
                                  </div>
                                  <br> <img src="./images/a_002.jpeg" height="289" width="226">
                                  <div align="center"></div><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Flowers, candy, red hearts and romance. That's what Valentine's day is 
all about, right? Well, maybe not. The origin of this holiday Father 
Frank O'Gara of Whitefriars Street Church in Dublin, Ireland, tells the 
legend of the man behind Valentine day - St. Valentine.</font>
                                  <br>
                                  <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Valentine was a priest who served during the third century in Rome. 
When Emperor Claudius II decided that single men made better soldiers 
than those with wives and families, he outlawed marriage for young men. 
Valentine, realizing the injustice of the decree, defied Claudius and 
continued to perform marriages for young lovers in secret. When 
Valentine’s actions were discovered, Claudius ordered that he be put to 
death. One of the men who was to judge him in line with the Roman law at
 the time was a man called Asterius, whose daughter was blind. He was 
supposed to have prayed with and healed the young girl. In the year 269 
AD, Valentine was sentenced to a three part execution of a beating, 
stoning, and finally decapitation. The story goes that the last words he
 wrote were in a note to Asterius' daughter. He inspired today's 
romantic missives by signing it, "from your Valentine.".</font></td>
                              </tr>
                              <tr valign="top">
                                <td bgcolor="#DF4B3C" width="1033"><img src="./images/a_003.gif" alt="" border="0" height="1" width="1"></td>
                              </tr>
                              <tr valign="top">
                                <td bgcolor="#DF4B3C" width="1033"><img src="./images/a_008.gif" alt="" border="0" height="1" width="1"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr valign="top">
                      <td bgcolor="#FFFFFF" width="1017"><font size="6"> </font><b><font face="Bookman Old Style" color="#FFFFFF" size="6"> Read Me </font></b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <div align="center">
                <table border="1">
                  <tbody title="Riddle">
                    <tr>
                      <th scope="rowgroup" colspan="1">Riddle</th>
                    </tr>
                    <tr valign="top">
                      <td bgcolor="#000080" width="1049"><font face="Times New Roman"> </font><img src="./images/a_006.gif" height="130" width="102"><b><font face="Bookman Old Style" color="#FFFFFF" size="4"> </font></b><b><font face="Bookman Old Style" color="#FFFFFF" size="5"> Riddle</font></b>
                        <br>
                        <div align="center"><font face="Bookman Old Style" color="#FFFFFF" size="4">What word starts with `e` ends with `e` and only has one letter in it?</font>
                          <br>
                        </div>
                        <br>
                        <ul></ul>
                        <div align="center"><img src="./images/a_009.gif" height="54" width="98"><font face="Roman"> </font><font face="Book Antiqua" color="#800080" size="4"> </font></div>
                        <br><b><font face="Bookman Old Style" color="#FFFFFF" size="4">Last week's Riddle:</font></b>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Its a 5 digit number where…</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">1st digit denotes how many zeroes are there in the number</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">2nd digit denotes how many ones are there in the number</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">3rd digit denotes how many twos are there in the number</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">4th digit denotes how many threes are there in the number and</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">5th digit denotes how many fours are there in the number</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Can you guess the number?</font>
                        <br>
                        <br><b><font face="Bookman Old Style" color="#FFFFFF" size="4">Answer: 21200</font></b>
                        <br>
                        <br><b><font face="Bookman Old Style" color="#FFFFFF" size="4">Winners: Venkatachari Tangellapalli, David Cox, Vani Hegde, Srinivas Thaduka </font></b></td>
                    </tr>
                  </tbody>
                  <tbody title="Inspirational Story">
                    <tr>
                      <th scope="rowgroup" colspan="1">Inspirational Story</th>
                    </tr>
                    <tr valign="top">
                      <td bgcolor="#00A1E0" width="1049">
                        <div align="center"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Discovering True Fear</font></b></div>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 A sultan decided to travel by sea with some of his favourite courtiers.
 They joined the ship in Dubai and sailed out into the open sea. 
However, as soon as the ship moved away from land, one of his subjects –
 who had never seen the sea before, having spent most of his life in the
 mountains – began to be overcome with panic.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Sitting in the ship’s hold, he cried, shouted and refused to eat or 
sleep. Everyone tried to calm him down, saying that the journey wasn’t 
as dangerous as all that, but although he heard their words, they had no
 influence on his heart. The sultan did not know what to do, and the 
fine journey upon calm seas and under blue skies, became a torment for 
the passengers and crew alike.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Two days passed without anyone being able to sleep because of the man’s
 cries. The sultan was about to order the ship to return to port, when 
one of his ministers, who was known for his wisdom, came over:</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4"> “Your Highness, with your permission, I will be able to calm him.”</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Without a moment’s hesitation, the sultan said that not only would he 
allow it, but that he should reward him if he succeeded in solving the 
problem.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 The wise man asked that the man be thrown into the sea. Right away, 
content because their nightmare was about to end, several crew members 
grabbed the man struggling in the hold, and cast him into the ocean.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 The courtier thrashed about, sank, swallowed plenty of seawater, 
returned to the surface, screamed louder than ever, sank again, and 
managed to surface once again. Just then, the minister ordered for him 
to dragged back on board. From then on, no one heard so much as a single
 complaint from the man, who spent the rest of the journey in silence, 
and even commented to one of the passengers that he had never seen 
anything so beautiful as the sky and sea touching on the horizon. The 
journey – which had before been a torment to all those on board the ship
 – became a pleasurable, peaceful experience.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4"> A short time before they returned to port, the Sultan went to see the minister:</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4"> “How did you guess that, by throwing that poor man into the sea, he would calm down?”</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 “Because of my marriage,” replied the minister. “I was always terrified
 of losing my wife, and was so jealous that I never stopped shouting and
 screaming like that man.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 “One day she could take no more, and left me – and I tasted the 
terrible experience of living without her. She only returned when I 
promised never again to torment her with my fears.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 “In the same way, that man had never tasted salt water, and had never 
known the agony of a drowning man. When he felt that, he understood only
 too well how marvellous it can be to feel the planks of a ship under 
his feet.”</font></td>
                    </tr>
                  </tbody>
                  <tbody title="Know Your Colleague">
                    <tr>
                      <th scope="rowgroup" colspan="1">Know Your Colleague</th>
                    </tr>
                    <tr valign="top">
                      <td bgcolor="#000080" width="1049">
                        <div align="center"><b><font face="Bookman Old Style" color="#FFFFFF" size="6">Aravind R Kumar</font></b>
                          <br>
                          <br><img src="./images/a.jpeg" height="209" width="339"><b><font face="Bookman Old Style" color="#FFFFFF" size="5"> </font></b>
                          <br><b><font face="Bookman Old Style" color="#FFFFFF" size="5"> </font></b></div><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Its always great to be greeted with a smile when you enter office, it 
brightens up the day and there is this one person who always has a pure 
smile. A very enthusiastic person who always participates in team events
 and takes up responsibilities at work.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Aravind has been an IBMer for the last 5.5 years and is glad to be a 
part of this vast family. He proudly says it is the company work culture
 and drive to work that keeps him motivated to stay with IBM. </font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 We always see him as a jolly person in office and he says he is the 
same outside office as well. Being a fun person by nature he enjoys 
sports specially, Cricket, Swimming and Volleyball. He says dance is his
 passion. When asked about future, he says he is man of the moment and 
accepts challenges as they come. He says his favourite travel 
destination is Netherlands and New Zealand.</font></td>
                    </tr>
                  </tbody>
                  <tbody title="Fun &amp; Facts ">
                    <tr>
                      <th scope="rowgroup" colspan="1">Fun &amp; Facts </th>
                    </tr>
                    <tr valign="top">
                      <td bgcolor="#4181C0" width="1049">
                        <div align="center"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Humour</font></b></div>
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr valign="top">
                              <td width="1019">
                                <div align="center"><font face="Bookman Old Style" color="#FFFFFF" size="4">Teacher: “If you had one dollar and you asked your father for another, how many dollars would you have?”</font>
                                  <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Vincent: “One dollar.”</font>
                                  <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Teacher: “You don’t know your arithmetic.”</font>
                                  <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Vincent: “You don’t know my father.”</font></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div align="center">
                          <br><font face="Book Antiqua" color="#400000"> </font><img src="./images/a_010.gif" height="71" width="93"><font face="Book Antiqua" color="#400000"> </font>
                          <br>
                          <br><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Facts</font></b><font face="Bookman Old Style" color="#FFFFFF" size="4"> </font>
                          <br>
                        </div>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Instagram Facts</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">1. Instagram has 200+ million MAUs.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">2.
 Instagram launched on October 6, 2010. By December 21, 2010, the 
service had more than 1 million users. It took Twitter more than two 
years to accomplish this level of growth.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">3.
 Selfie related hash tags have been added to more than 41 million 
Instagram photos. This is either tremendously exciting or horribly 
depressing. </font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">4. New York City is the most frequently geotagged city on Instagram, and Times Square is the second-most geo-tagged place.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">5. More than 16 billion photos have been uploaded to Instagram since launch.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">6. Approximately 32% of American teens consider Instagram to be the most important social network.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">7.
 Instagram predicts mobile advertising earnings of $595 million this 
year, and forecasts estimate mobile ad revenues of $2.81 billion by 
2017.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">8. Instagram adoption among top brands stands at 85%.</font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">9. Instagram’s per-follower engagement rate is 58 times higher than Facebook’s and 120 times higher than Twitter’s. </font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">10. Engagement rates of Instagram uploads tagged with a location are 79% higher than those without. </font></td>
                    </tr>
                  </tbody>
                  <tbody title="Technology &amp; Knowledge">
                    <tr>
                      <th scope="rowgroup" colspan="1">Technology &amp; Knowledge</th>
                    </tr>
                    <tr valign="top">
                      <td bgcolor="#000080" width="1049"><font face="Bookman Old Style" color="#622152" size="4"> </font><font face="Bookman Old Style" color="#FFFFFF" size="4"> </font>
                        <div align="center"><b><font face="Bookman Old Style" color="#FFFFFF" size="5">Safer Internet Day</font></b></div><font face="Bookman Old Style" color="#FFFFFF" size="4"> </font>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">
 Every year in February, safer internet day is celebrated worldwide on 
the second day of the second week of February since 2004. Concept 
started by InSafe, the day is celebrated by technology companies and 
non-profit organizations.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">On this occasion Google announced 5 new features, which are as follows:</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">1.
 In order to motivate its users to complete security checkup, Google is 
offering 2GB of extra Google Drive storage, which can be used across 
Google Drive, Gmail, and Photos. This happens if users complete the 
Security Checkup by February 11.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">2.
 Google is also taking measures to protect its users on its email 
service. Gmail will now warn its users against emails they send or 
receive from sources that don't support TLS encryption on its web 
version.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">This will happen in two steps:</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">*
 If you receive a message from, or are about to send a message to, 
someone whose email service doesn't support TLS encryption, you'll see a
 broken lock icon in the message.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">*
 If you receive a message that can't be authenticated, you'll see a 
question mark in place of the sender's profile photo, corporate logo, or
 avatar.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">The company also highlighted that all the emails affected by the new update won't necessary be harmful.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">3.
 For its Android users, Google is conducting more than 200 million daily
 security scans of devices for apps that phish and steal personal 
information of users.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">4.
 Google is also working to keep botnets out of their ads systems by 
reinforcing existing botnet defenses by automatically filtering traffic 
from three of the top ad fraud botnets, comprising more than 500,000 
infected user machines.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">5. Google has also teamed up with online platform Medium to host a virtual round table about online security.</font>
                        <br>
                        <br><font face="Bookman Old Style" color="#FFFFFF" size="4">Facebook
 also laid emphasis on safety of teens on internet. The social network's
 head of global safety Antigone Davis shared tips for both parents and 
teens for to ensure online safe</font></td>
                    </tr>
                  </tbody>
                  <tbody title="Your-Feedback, Inputs">
                    <tr>
                      <th scope="rowgroup" colspan="1">Your-Feedback, Inputs</th>
                    </tr>
                    <tr valign="top">
                      <td bgcolor="#71B2CF" width="1049"><font face="Andalus" color="#622152"> </font>
                        <div align="center"><font face="Bookman Old Style" color="#FFFFFF" size="4"> </font><b><font face="Bookman Old Style" color="#FFFFFF" size="4">Send us an article/book review/write-up. Click here :</font></b><font face="Book Antiqua" color="#622152"> </font>
                          <br><font face="Book Antiqua" color="#622152"> <br> </font><font face="Bookman Old Style" color="#FFFFFF" size="4"> </font><b><font face="Bookman Old Style" color="#FFFFFF" size="4">We would like to hear from you :</font></b>
                          <font
                          face="Book Antiqua" color="#622152"> </font>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><font size="1"> </font></ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <br>
  </div>
  </font>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  </div>

</body>

</html>
