<div ng-controller="UserUpdateController">
    <!-- ANGULAR Sidebar CONTENT -->

    <!--Start with Angular and bootstrap-->

    <div ng-include="'views/components/sideBar.html'"></div>
    <div class="col-md-8">
     <ul class="nav nav-tabs">
		<li ng-class="{'active' : activeTab == 1}"><a href="" ng-click="setActiveTab(1)">Employee Details</a></li>
		<li ng-class="{'active' : activeTab == 2}"><a href="" ng-click="setActiveTab(2)">Location Details</a></li>
		<li ng-class="{'active' : activeTab == 3}"><a href="" ng-click="setActiveTab(3)">Workstream Details</a></li>
		<li ng-class="{'active' : activeTab == 4}"><a href="" ng-click="setActiveTab(4)">Tenure Details</a></li>
		<li ng-class="{'active' : activeTab == 5}"><a href="" ng-click="setActiveTab(5)">Other Details</a></li>
	  </ul>
	</div>
	  <div class="row">
	  	<div class="container">
	  		<div class="col-md-8">
	  		<form name="myForm"  ng-submit="insert(user);">
	  		<div class="tab-content">
				<div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
						<br>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Employee ID</label>
    						<div class="col-sm-6">
      						<input type="text" name="empid" class="form-control" id="inputtext3" placeholder="Employee id"  ng-model="user.EMP_ID" ng-minlength="6" ng-maxlength="6" ng-focus="user.EMP_ID" required>
      						<span class=validation ng-show="((myForm.empid.$error.minlength||myForm.empid.$error.maxlength)&& myForm.empid.$dirty)">Employee Id should be 6 digits</span>
    						</div>
  						</div>
  						 <!-- <div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Revised Employee ID</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" placeholder="Revised Employee Id" ng-model="user.REVISED_EMP_ID"required="true">
    						</div>
  						</div>-->
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Employee Name</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" placeholder="Employee name" ng-model="user.NAME" required="true">
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Notes ID</label>
    						<div class="col-sm-6">
      						<input type="text" name="emailid" class="form-control" id="inputtext3" placeholder="Notes id" ng-model="user.NOTES_ID" ng-pattern="emailPattern" required="true">
      						<span class="validation" ng-show="myForm.emailid.$error.pattern">Not a valid email address! Ex:ABC/India/IBM</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Notes Short ID</label>
    						<div class="col-sm-6">
      						<input type="email" name="email" class="form-control" id="inputtext3" placeholder="Notes id" ng-model="user.EMAIL" ng-pattern=shortEmailPattern required="true">
      						 <span class="validation" ng-show="myForm.email.$error.pattern">Not valid email address! Ex:abc@in.ibm.com</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Type</label>
    						<div class="col-sm-6">
    						<select class="form-control" ng-model="user.TYPE" ng-options="v.type as v.type for (k,v) in optionsdata.typeoptions" ng-change=selectedType(user.TYPE)>
    						<option value="">--Select--</option>
							</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Mobile Number</label>
    						<div class="col-sm-6">
      						<input type="text" name="mobile" class="form-control" id="inputtext3" placeholder="Mobile number" ng-model="user.MOBILE" ng-minlength="10" ng-maxlength="15" required="true" ng-pattern=mobileNumberPattern>
      						<!-- <span ng-show="myForm.mobile.$error.pattern" class="validation">Mobile number should be in digits</span>-->
      						<span ng-show="((myForm.mobile.$error.minlength||myForm.mobile.$error.maxlength)|| myForm.mobile.$error.pattern)" class="validation">Enter a valid mobile number</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Status</label>
    						<div class="col-sm-6">
      						<select class="form-control" ng-model="user.STATUS" ng-options="v.status as v.status for (k,v) in optionsdata.employeestatus" required="true">
      						<option value="">--Select--</option>
      						</select>
    						</div>
  						</div>
  						
				</div>
				<div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">
				<br>
				<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Work Location</label>
    						<div class="col-sm-6">
      						<select class="form-control" ng-model="user.WORK_LOCATION" ng-options="v.location as v.location for (k,v) in optionsdata.worklocationoptions" ng-change=selectedWorkLocation(user.WORK_LOCATION)>
      						<option value="">--Select--</option>
   							</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Building</label>
    						<div class="col-sm-6">
      						<select class="form-control" ng-model="user.BUILDING" ng-options="i as i for i in buildingop" ng-change=selectedType(user.WORK_LOCATION)>
      						<option value="">--Select--</option>
   							</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">On/OffShore</label>
    						<div class="col-sm-6">
    						<select class="form-control" ng-model="user.ON_OFF_SHORE" ng-options="v.shore as v.shore for (k,v) in optionsdata.shoreoptions"" ng-change=selectedType(user.ON_OFF_SHORE)>
    						<option value="">--Select--</option>
							</select>
    						</div>
  						</div>
				</div>
				<div ng-class="{'tab-pane active': activeTab === 3, 'tab-pane' : activeTab !== 3}">
				<br>
				<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Workstream</label>
    						<div class="col-sm-6">
    						<select class="form-control" ng-model="user.WORKSTREAM" ng-options="v.workstream as v.workstream for (k,v) in optionsdata.workstreamoptions"" ng-change=selectedWorkstream(user.WORKSTREAM)>
    						<option value="">--Select--</option>
    						</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Skillset</label>
    						<div class="col-sm-6">
      						<input type="text" name="skillset" class="form-control" id="inputtext3"  ng-model="user.SKILL_SET" required="true" ng-pattern=textPattern>
      						<span class="validation" ng-show="myForm.skillset.$error.pattern">Value is invalid Ex:abcd efg</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">CurrentRole</label>
    						<div class="col-sm-6">
      						<input type="text" name="currentrole" class="form-control" id="inputtext3"  ng-model="user.CURRENT_ROLE" required="true" ng-pattern=textPattern>
      						<span class="validation" ng-show="myForm.currentrole.$error.pattern">Value is invalid Ex:abcd efg</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Workstream Manager</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" ng-model="user.WS_MANAGER" readonly required="true">
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">PEM</label>
    						<div class="col-sm-6">
      						<input type="text" name="peoplemanager"class="form-control" id="inputtext3" ng-model="user.PEM" required="true" ng-pattern=emailPattern >
      						<span class="validation" ng-show="myForm.peoplemanager.$error.pattern">Not a valid email address! Ex:ABC/India/IBM</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputPassword3" class="col-sm-4 control-label">DOJ IBM</label>
    						<div class="col-sm-6">
    						<p class="input-group">
      						<input type="text" class="form-control" datepicker-popup="mediumDate" is-open="valuationDatePickerdoj_ibmIsOpen" max-date="CurrentDate"
                   			ng-click="valuationDatePickerOpen()" ng-model="user.DOJ_IBM" ng-change="createDate()" required/>
            				<span class="input-group-btn">
              				<button type="button" class="btn btn-default" ng-click="valuationDatePickerdojibmOpen($event)">
                			<i class="glyphicon glyphicon-calendar"></i>
              				</button>
              				</span>
              			</p>
    				</div>
  				</div>
  						<div class="form-group row">
    						<label for="inputPassword3" class="col-sm-4 control-label">DOJ O2</label>
    						<div class="col-sm-6">
    						<p class="input-group">
      						<input type="text" class="form-control" datepicker-popup="mediumDate" is-open="valuationDatePickerdoj_o2IsOpen" 
                   			ng-click="valuationDatePickerOpen()" ng-model="user.DOJ_O2" max-date="CurrentDate" min-date="user.DOJ_IBM" ng-change="createDate()" required/>
            				<span class="input-group-btn">
              				<button type="button" class="btn btn-default" ng-click="valuationDatePickerdojo2Open($event)">
                			<i class="glyphicon glyphicon-calendar"></i>
              				</button>
              				</span>
              			</p>
    				</div>
  				</div>
	  		</div>
	  		<div ng-class="{'tab-pane active': activeTab === 4, 'tab-pane' : activeTab !== 4}">
	  		<br>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Tenure</label>
    						<div class="col-sm-6">
      						<input type="text" name="tenure" class="form-control" id="inputtext3" ng-model="user.TENURE" required="true" ng-pattern="numberPattern">
      						<span class="validation" ng-show="myForm.tenure.$error.pattern">Enter a number</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Age Tenure</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" ng-model="user.AGE_TENURE" required="true">
    						</div>
  						</div>
	  		</div>
	  		<div ng-class="{'tab-pane active': activeTab === 5, 'tab-pane' : activeTab !== 5}">
	  		<br>
	  		<div class="form-group row">
    						<label for="inputPassword3" class="col-sm-4 control-label">Start Date</label>
    						<div class="col-sm-6">
    						<p class="input-group">
      						<input type="text" class="form-control" datepicker-popup="mediumDate" is-open="valuationDatePickerstartdateIsOpen" 
                   			ng-click="valuationDatePickerOpen()" ng-model="user.START_DATE" ng-change="createDate()" max-date=CurrentDate required/>
            				<span class="input-group-btn">
              				<button type="button" class="btn btn-default" ng-click="valuationDatePickerstartOpen($event)">
                			<i class="glyphicon glyphicon-calendar"></i>
              				</button>
              				</span>
              			</p>
    				</div>
  				</div>
	  		<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Previous Experience</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" ng-model="user.RANGE_EXP" required="true">
    						</div>
  						</div>
	  			<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Graduate Hire</label>
    						<div class="col-sm-6">
      						<!--<input type="text" class="form-control" id="inputtext3" ng-model="user.ELTP" required="true">-->
      						<select class="form-control" ng-model="user.ELTP" ng-options="v.eltp as v.eltp for (k,v) in optionsdata.ELTPoptions">
      						<option value="">--Select--</option>
      						</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Band</label>
    						<div class="col-sm-6">
    						<select class="form-control" ng-model="user.BAND" ng-options="v.band as v.band for (k,v) in optionsdata.bandoptions" ng-change=selectedType(user.BAND)>
    						<option value="">--Select--</option>
   							</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Gender</label>
    						<div class="col-sm-6">
    						<select class="form-control" ng-model="user.GENDER" ng-options="v.gender as v.gender for (k,v) in optionsdata.genderoptions" ng-change=selectedType(user.GENDER)>
    						<option value="">--Select--</option>
   							</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Laptop</label>
    						<div class="col-sm-6">
    						<select class="form-control" ng-model="user.LAPTOP" ng-options="v.laptop as v.laptop for (k,v) in optionsdata.laptopoptions" ng-change=selectedType(user.LAPTOP)>
    						<option value="">--Select--</option>
      						</select>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputPassword3" class="col-sm-4 control-label">End Date</label>
    						<div class="col-sm-6">
    						<p class="input-group">
      						<input type="text" class="form-control"  datepicker-popup="mediumDate" is-open="valuationDatePickerenddateIsOpen" 
                   			ng-click="valuationDatePickerOpen()" ng-model="user.END_DATE_GBSTIMESTAMP" ng-change="createDate()" required/>
            				<span class="input-group-btn">
              				<button type="button" class="btn btn-default" ng-click="valuationDatePickerendOpen($event)">
                			<i class="glyphicon glyphicon-calendar"></i>
              				</button>
              				</span>
              			</p>
    				</div>
  				</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Expires</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" ng-model="user.EXPIRES" required="true">
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Open Seat No</label>
    						<div class="col-sm-6">
      						<input type="text" name="openseat" class="form-control" id="inputtext3" ng-model="user.OPEN_SEAT_NO" required="true" ng-pattern="numberPattern">
      						<span class="validation" ng-show="myForm.openseat.$error.pattern">Invalid seat no Ex:1234</span>
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="inputtext3" class="col-sm-4 form-control-label">Remarks</label>
    						<div class="col-sm-6">
      						<input type="text" class="form-control" id="inputtext3" ng-model="user.REMARKS" required="true">
    						</div>
  						</div>
	  		</div>
	  		<div class="col-xs-6 col-sm-6">
      		</div>
	  		<div class="col-sm-6">
	  		<input type="submit" class="btn btn-primary" value="Save" />
	  		</div>
	  		</form>
	  		</div>
	  </div>
	  </div>