<div id="mydiv">
    <img src="images/spinner.gif" class="ajax-loader"/>
</div>
    <div ng-include="'views/components/sideBar.html'"></div>
     <div class='row col-md-9 height'>
      <a href ="#/vacationPlanner">&nbsp Vacation Home &nbsp</a>
      <a href ="#/RequestHistory">&nbsp Request History &nbsp</a>
      <a href ="#/CreateVacationRequest">&nbsp New Entry &nbsp</a>
      <a ng-hide=pendingbutton href ="#/pendingApproval">&nbsp Pending Approvals &nbsp</a>
       <a ng-hide=pendingbutton href ="#/TeamLeaves">&nbsp Employee Leave Record &nbsp</a>
  </div>
      <div >
    		<div class="col-md-9 vacationrequest">
    			<div class="col-md-9" >Employees on Vacation Today</div> <div class="col-md-3"> {{CurrentDate | date:'fullDate'}}</div>
   </div>
   <div class="col-md-9">
   <table class="table">
   <tr height="30">
    		<th>Name </th>
    		<th>Team </th>
    		<th>Approver </th>
    		<th>Start Date </th>
    		<th>End Date </th>
    		</tr>
              <tr height="30" ng-repeat="item in VacationList">
                    <td>{{item.name}}</td>
                    <td>{{item.team}}</td>
                    <td>{{item.approver}}</td>
                    <td>{{item.startDate | date : 'dd-MM-yyyy' }}</td>
                    <td>{{item.endDate | date : 'dd-MM-yyyy' }}</td>
                </tr>
        </table>
        </div>
 
    		      </div>
    		      